 :root{
     --color1:rgb(219,144,5);
     --color2:rgba(23,180,83,.0788);
     --color3:rgba(11,194,211,0.623);
     --fondos:#f2f2f2;
     --titulos:33px
     --margenes:60px
     --espacios:10px
     --espacio-contenido:45px
 }

 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
     font-family: "open sans";
     background: rgb(241, 239, 239);

 }
 img{
     vertical-align: top;
 }
 /* preloader */
 .ids-facebook{
     display: block;
     position: relative;
     width: 64px;
     height: 64px;
 }
 .ids-facebook{
     display: block;
     position: absolute;
     left: 6px;
     width: 13px;
     background: #cef;
     animation: ids-facebook 1.2% cubic-bezier(0,0.5,0.5,1) infinite;
 }
 /* header */
 
  header{
      width: 100%;
      height: 600px;
      background: linear-gradient(to bottom,
      rgb(7, 168, 34, .6),
      rgb(211, 208, 18 , .6),
      rgba(7, 109, 150, 0.6)
      ), url(fondo.jpeg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
      }
  nav{
      width: 100%;
      position:fixed;
      height:80px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.5)
  }
 .nav1{  
     background: transparent;
     height: 100px;
     color:#000;
 }
 .nav2{
    background: var(--fondos);
    height: 100px;
    color: rgb(20, 20, 20);
 }
  .contenedor-nav{
    display:flex ;
    margin: auto;
    width: 90%;
    justify-content:space-between;
    align-items: center;
    max-width: 1000px;
    height: 100px;
    overflow: hidden;
 }

 nav .enlaces a{
    display: inline-block ;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
     text-decoration:none;
    border-bottom: 3px solid transparent;
    color:inherit;

}
 nav .enlaces a:hover{
  border-bottom: 3px solid rgb(196, 209, 6);
  transition: 0.6s;
}
.logo, .logo img{
    height: 90px;
    border-radius: 10px;
}
 .icono {
     display: none;
    font-size: 24px;
    padding: 23.5px 20px; 
    left:auto;
   
}
.textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   text-align:center ;
   color: #fff;
}
.textos>h1{
    font-size: 80px;
    font-weight: 300;
}
.textos>h2{font-size: 30px; font-weight: 300;}

/* main */

main{
    margin: auto;
    padding: 90px 90px;
    width:90% ;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}
main h3{
    font-size: 30px;
    font-weight: 300;
    color:#000;
    margin-bottom: 30px;
}
main h4{
    font-size: 20px;

}
main p{

    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}
.after::after{
    content: '';
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 150px;
    height: 3px;
    background: rgb(32, 143, 4);
    margin-bottom: 3px;
    
}


    .card{
        width: 25%;
        padding-top: 45px;
        padding-bottom: 45px;
         margin-left: 50px;
         display: inline-block;
         justify-content: space-around;
        
        
    }
    .content-card{ 
        display: inline-block;
        width: 90%;
        box-shadow: 0 0 8px 0 rgb(15, 151, 38);
        overflow: hidden;
        height: 400px;  
        border-radius: 5px ;
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
       
    }
    
    
    .people{
        height: 80%;
    }
    
    .content-card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;   
        
    }
    .textos-team{
        height: 20px;
        width: 100%;
        padding: 10px 20px;
        justify-content: center;
        margin: 20px 0;
    }
    main, #equipo{
        display:inline;
        width: 100%;
        justify-content: center;
        

        
    }
   


 .about{
     width: 100%;
    height: auto;
    background: rgb(5, 73, 112);
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 30px;
    
    }

     .contenedor{
        display: flex;
        color: #fff;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contenedora h3 {
       margin-top: 20px;
       margin-bottom: 20px;
     
    }
    .contenedora p{
        color: #fff;
        margin-bottom: 30px;
    }
    
 
     .cajas-servicio>img{
         border-radius: 4px;
         width: 250px;
         height: 250px;
         color: #fff;
        
     }
     .cajas-servicio>h4{
         margin: 20px 0;
     }
     .cajas-servicio>p{
         text-align: center;
     }

     
     .botones-work{
         overflow: hidden;
         flex-wrap: wrap;
     }
     .botones-work li{
        display: inline-block;
         text-align: center;
         margin-left: auto;
         margin-top: 45px;
         margin-bottom: 45px;
         padding: 6px 12px;
         border: 1px solid rgb(16, 163, 173);
         list-style: nome;
         color: #000;
         flex-wrap: wrap;
     }
     .work-contenedor{
         margin-top: 50px;
     }
     .botones-work li:hover{
         background: rgb(8, 134, 4);
         color: #fff;
         cursor: pointer;
     }
     .botones-work .active{
        background: rgb(7, 146, 7);
        color: #fff;
     }
     .galeria-work{
        width: 70% ;
         margin: auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     .galeria-work .cont-work{
         width: 28%;
        
         height: 380px;
         overflow:hidden ;
         margin-bottom: 45px;
         border: 1px solid rgb(8, 93, 172);
         padding-bottom: 50px;
         border-radius: 5px;
         box-shadow: 2px 2px  rgba(8, 167, 22, 0.432);
     }
     .img-work{
        height:100% ; 
        width: 100%;
        
     }
     .img-work img{
         height: 100%;
         width: 100%;
         object-fit:cover;
         
        
     }
     .texto-work{
         height: 10px;
     }
    .texto-work h4{
        line-height: 30px;
        font-weight: 300;
        justify-content: center;
    }

    /* footer*/

    footer{
        background: linear-gradient(to bottom,
        rgba(231, 163, 15, 0.6),
        rgba(95, 211, 18, 0.6),
        rgba(4, 36, 66, 0.6)
        ),url(fondo.jpeg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 400px;
        padding: 40px 20px;
        
    }
    .marca-logo{
        width: 20%;
        margin-top: 30px;
        margin: auto;
        margin-bottom: 30px;
        animation: icono;
       
    }
    
     .marca-logo img{
        width: 50%;
        margin-left: 23%;
        justify-content: center;
        border-radius: 10px;
    }
    .iconos{
        display:none;
        justify-content:space-evenly;
        
    }
    
    
    .iconos i{
        line-height: 100px;
        text-align: center;
        font-size: 90px;
    }
     .facebook:hover{
        animation: icono 1s ease;
    }
    .whatsapp:hover{
        animation: icono 1s ease;
    }
    .instagram:hover{
        animation: icono 1s ease;
    }
    @keyframes icono {
       from{
            transform: rotate3d(0,0,0,0,);
       }
       to{
            transform: rotate3d(0,1,0, 360deg);
       }
    }

    
    i {
        font-size: 60px;
        color: #fff;
        margin-bottom: 45px;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 4px; 
    }
    .iconos  .instagram i{
        color:  #c13584;
    }
    .iconos .facebook i{
        color:#3b5998 ;
    }
    .iconos .whatsapp i{
        color: #58da47;
    }
    
    .parrafo{
        margin-top: 45px;
        display:flex;
        margin: auto;
        justify-content:space-around;
        font-size: 20px;
        color: #fff;
     }
     @media screen and (max-width:800px){
         .nav2{
             color: #fff;
         }
         .nav1{
            color: #fff;
        }
         .icono{
             display: block;
             cursor: pointer;
         }
         .enlaces{
             position:fixed;
             top: 80px;
             height: 100%;
             background: rgb(8, 100, 136) ;
             left: 0;
             transition: 1s;
             width: 0;
             overflow: hidden;
             

         }
        .marca-logo{
            width: 40%;
        }
         .marca-logo img{
             width: 100%;
         }
         .enlaces a{
                display: block;
                width: 100%;
                text-align: center;
                padding-top:  20px ;
                height:70px ;
                color: #fff;

         }
         .textos>h1{font-size: 50px;}
         .textos>h2{font-size: 35px;}

         h3{
            font-size: 100px;
         }

         .content-card{
             width: 100%;
             margin-bottom: 30px;
             width: 70%;
         }
        .content-card p{
            justify-content: center;
            font-size: 19px;
            
        }

        .card{
            width: 80%;
    
        }
    
 
       
   .contenedor{
     width: 50%;
    margin-left: 25%;
   
   }


            
         
         .cajas-servicio>img{
             width: 250px;
             height: 250px;
             border-radius: 4px;
         }
         .cajas-servicio>h4{
             margin-bottom: 20px;
             
         }
         .cajas-servicio>p{
             text-align: center;
             font-size: 20px;
             margin-bottom: 25px;
       }
       .marca-logo i{
        width: 100%;
        margin-left: 10%;
        justify-content: center;
         }
        
         
         .galeria-work{
            width: 100% ;
             margin: auto;
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
         }
         .galeria-work .cont-work{
             width: 30%;
            
             height: 380px;
             overflow:hidden ;
             margin-bottom: 45px;
        
         }
         .img-work{
            height:100% ; 
            width: 100%;
            
         }
         .img-work img{
             height: 100%;
             width: 100%;
            
         }
         .texto-work{
             height: 10px;
         }
        .texto-work h4{
            line-height: 30px;
            font-weight: 300;
            justify-content: center;
        }
       

         }

         @media screen and (max-width:600px){
             
     .card .content-card{
        margin-right: 10%;
    }
    

    }

         

         @media screen and (max-width:400px){
         

                .marca-logo i{
                        width: 100%;
                        margin-left: 10%;
                        justify-content: center;
       
         }

         .card .content-card{
             margin-left:-10px ;
         }

         .texto-work h4{
             font-size: 16px;
         }
        
         .marca-logo{
            width: 70%;
        }
         .marca-logo img{
             width: 100%;
         }
      
 }
